# API credentials for testing
BABAMUL_API_TOKEN=your_api_token_here

# Sample object IDs for testing
ZTF_OBJECT_ID=ZTF18abmrfqv
LSST_OBJECT_ID=LSST_OBJECT_ID_TO_USE_FOR_TESTING

# Kafka credentials for testing
BABAMUL_KAFKA_USERNAME=your_kafka_username_here
BABAMUL_KAFKA_PASSWORD=your_kafka_password_here
