# API credentials for testing
EMAIL=EMAIL_TO_USE_FOR_TESTING
PASSWORD=PASSWORD_TO_USE_FOR_TESTING

# Sample object IDs for testing
ZTF_OBJECT_ID=ZTF_OBJECT_ID_TO_USE_FOR_TESTING
LSST_OBJECT_ID=LSST_OBJECT_ID_TO_USE_FOR_TESTING
