# API credentials for testing
BABAMUL_API_EMAIL=BABAMUL_API_EMAIL_TO_USE_FOR_TESTING
BABAMUL_API_PASSWORD=BABAMUL_API_PASSWORD_TO_USE_FOR_TESTING

# Sample object IDs for testing
ZTF_OBJECT_ID=ZTF18abmrfqv
LSST_OBJECT_ID=LSST_OBJECT_ID_TO_USE_FOR_TESTING
