# Environment instance to use.
# production: Caltech server / backup: UMN server / local: local server
BABAMUL_ENV=production

# API credentials
BABAMUL_API_TOKEN=your_api_token_here

# Kafka credentials
BABAMUL_KAFKA_USERNAME=your_kafka_username_here
BABAMUL_KAFKA_PASSWORD=your_kafka_password_here
