name: Run tests

on: pull_request

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Run tests
        run: uv run pytest
        env:
          BABAMUL_KAFKA_USERNAME: ${{ secrets.BABAMUL_KAFKA_USERNAME }}
          BABAMUL_KAFKA_PASSWORD: ${{ secrets.BABAMUL_KAFKA_PASSWORD }}
          BABAMUL_API_TOKEN: ${{ secrets.BABAMUL_API_TOKEN }}
  windows:
    runs-on: windows-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Run tests
        run: uv run pytest
        env:
          BABAMUL_KAFKA_USERNAME: ${{ secrets.BABAMUL_KAFKA_USERNAME }}
          BABAMUL_KAFKA_PASSWORD: ${{ secrets.BABAMUL_KAFKA_PASSWORD }}
          BABAMUL_API_TOKEN: ${{ secrets.BABAMUL_API_TOKEN }}
